/* #region Variables */
:root {
  --base-font: 'Montserrat', sans-serif;

  /* Colors */
  --base-cl: 17 17 17;
  --background-cl: 250 250 250;
  --white-cl: 255 255 255;
  --black-cl: 0 0 0;
}
/* #endregion */

/* #region Common */
body {
  font-family: var(--base-font);
  font-size: 14px;
  color: rgb(var(--base-cl));
  background-color: rgb(var(--background-cl));
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden,
.read-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  padding: 60px 0;
}
.section-title {
  max-width: 412px;
  margin: 0 auto 50px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}
.accent {
  color: #fd9222;
}
.container {
  max-width: 1168px;
  margin: 0 auto;
  padding: 0 16px;

  outline: 2px solid red;
  outline-offset: -2px;
}
/* #endregion */

/* #region Card-set */
.card-set {
  --items: 4;
  --indent-row: 24px;
  --indent-col: 18px;

  display: flex;
  flex-wrap: wrap;
  column-gap: var(--indent-col);
  row-gap: var(--indent-row);
}
.card-set-item {
  width: calc((100% - var(--indent-col) * (var(--items) - 1)) / var(--items));
}
/* #endregion */

/* #region Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.logo-icon {
}
/* #endregion */

/* #region Button */
.btn {
  min-width: 144px;
  min-height: 45px;
  padding: 14px 40px;

  border: 1px solid transparent;
  border-radius: 100px;

  font-weight: 600;
  color: #fff;
}
/* .btn {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.icon {
  font-size: 24px;
} */
.btn-accent {
  background-color: #fd9222;
}
.btn-accent:hover,
.btn-accent:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}
.btn-light {
  background-color: transparent;
  border-color: #ffffff;
}
.btn-light:hover,
.btn-light:focus {
  color: #fd9222;
  border-color: #fd9222;
}
.btn-dark {
  font-size: 18px;
  line-height: 1.22;
  color: #111111;
  background-color: transparent;
  border-color: #fd9222;
}
.btn-dark:hover,
.btn-dark:focus {
  color: #ffffff;
  background-color: #fd9222;
}
/* #endregion */

/* #region Socials */
.socials {
  display: flex;
  gap: 14px;

  color: rgb(17 17 17 / 10%);
}
.socials-item {
  width: 40px;
  height: 40px;
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  border: 1px solid currentColor;
  border-radius: 10px;
}
.socials-link:hover,
.socials-link:focus {
  border-color: rgb(253 146 34 / 10%);
}
.socials-icon {
}
/* #endregion */

/* #region Header */
.header {
}
.header .container {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
.nav-logo {
  margin-right: 365px;
}
.nav-list {
  display: flex;
  gap: 24px;
}
.nav-list-item {
}
.nav-list-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.nav-list-link:hover,
.nav-list-link:focus {
  color: #fd9222;
}
.header-socials {
  margin-left: auto;
}
/* #endregion */

/* #region Hero */
.hero {
  padding-bottom: 80px;
}
.hero .container {
  padding: 381px 40px 40px;
  background-color: rgb(17 17 17 / 40%);
  border-radius: 30px;
}

.hero-title {
  width: 484px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #ffffff;
}
.hero-wrapper {
  display: flex;
  justify-content: space-between;
}
.hero-controls {
  display: flex;
  gap: 14px;
}
.hero-link {
  display: inline-flex;
  align-items: center;
  gap: 14px;

  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #ffffff;
}
.hero-link:hover,
.hero-link:focus {
  color: #fd9222;
}
.hero-link-icon {
}
/* #endregion */

/* #region Benefits */
.benefits {
  padding: 50px 0;
  background-color: #1e1823;
}
.benefits-list {
  display: flex;
  justify-content: center;
  gap: 88px;
}
.benefits-item {
  width: 308px;
}
.benefits-caption {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
}
.benefits-desc {
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/* #endregion */

/* #region Ingredients */
.ingredients {
  padding-top: 120px;
}
.ingredients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.ingredients-item {
  width: calc((100% - 32px * 3) / 4);

  padding: 28px 23px;
  border: 1px solid transparent;
  border-radius: 15px;
}
/* a * n + b */
.ingredients-item:nth-child(2n) {
  border-color: #fd9222;
}
.ingredients-item:nth-child(4n + 1) {
  background-color: #fd9222;
  color: #ffffff;
}
.ingredients-item:nth-child(4n + 3) {
  background-color: #1e1823;
  color: #ffffff;
}

/* .ingredients-item:last-child {
  background-color: #1e1823;
  color: #ffffff;
} */
.ingredients-ill {
  margin-bottom: 36px;
}
.ingredients-caption {
  font-size: inherit;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
/* #endregion */

/* #region Made */
.made {
}
.made-wrapper {
  display: flex;
  justify-content: space-between;
}
.made-left {
  width: 600px;
  border-radius: 15px;
  overflow: hidden;
}
.made-img {
}
.made-right {
  width: 516px;
  padding: 32px;
  background-color: rgb(var(--white-cl));
  border-radius: 15px;

  box-shadow: 4px 4px 10px rgb(17 17 17 / 50%);
}
.made-subtitle {
  max-width: 350px;
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}
.made-list {
}
.made-item {
  margin-bottom: 24px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.made-item:last-child {
  margin-bottom: 0;
}
/* #endregion */

/* #region Products */
.products {
}
.products-list {
}
.products-item {
  padding: 32px 20px;
  background-color: rgb(var(--white-cl));
  border: 1px solid rgb(var(--base-cl) / 10%);
  border-radius: 15px;
}
.products-ill {
  margin-bottom: 8px;
}
.products-name {
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
}
.products-type {
  margin-bottom: 18px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgb(var(--base-cl) / 70%);
}
.products-price {
  display: block;
  min-width: 94px;
  min-height: 33px;
  padding: 8px 20px;
  margin: 0 auto;

  font-weight: 600;

  background-color: rgb(var(--background-cl));
  border: 1px solid rgb(var(--base-cl) / 10%);
  border-radius: 100px;
}
/* #endregion */

/* #region Bestsellers */
.bestsellers {
}
.bestsellers-list {
  --items: 3;
  --indent-col: 16px;
}
.bestsellers-item {
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}
.bestsellers-img {
}
.bestsellers-caption {
  padding: 28px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;

  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 0 0 15px 15px;
}
/* #endregion */

/* #region Reviews */
.reviews {
  padding-bottom: 120px;
}
.reviews-list {
  --items: 3;
  --indent-col: 28px;

  margin-bottom: 50px;
}
.reviews-item {
  padding: 24px;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  box-shadow: 0px 10px 100px 0px rgba(17, 17, 17, 0.1);
}
.reviews-avatar {
  margin: 0 auto;
}
.reviews-author {
  margin-bottom: 24px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}
.reviews-text {
  text-align: center;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}
.reviews-btn {
  display: block;
  margin: 0 auto;
}
/* #endregion */

/* #region Footer */
.footer {
  padding: 50px 0;
  background: #1e1823;
}
.footer-top {
  display: flex;
  gap: 50px;
  padding-bottom: 50px;

  border-bottom: 1px solid rgb(255 255 255 / 10%);
}
.slogan {
  width: 300px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.slogan-accent {
  color: #fd9222;
}
.footer-socials {
  margin-left: auto;
  color: rgb(255 255 255 / 10%);
}
.footer-caption {
  margin-bottom: 14px;
  font-weight: 500;
  line-height: 1.28;
  color: #fff;
}
.footer-contacts {
}
.footer-contacts-list {
}
.footer-contacts-item {
}
.footer-contacts-link {
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: #fff;
}
.footer-bottom {
  padding-top: 24px;
}
.footer-nav {
  display: flex;
  align-items: center;
  gap: 24px;
}
.footer-nav-item {
}
.footer-nav-link {
  display: block;
  padding: 18px 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}
.footer-nav-link:hover,
.footer-nav-link:focus {
  color: #fd9222;
}
/* #endregion */
